/* container1 */
 .overall-container{
    margin: auto;
    

    width: 1300px;
}
 .overall{
     height: 600px;
    width: 1300px;

    display: flex;
    justify-content: space-between;
    
}
.digital{
    height: 500px;
    /* width: 650px;
    outline: 2px solid red;  */
    margin-left: 100px;
} 
.bocor-end{
    display: flex;
    justify-content: space-between;
}
.end-end-bocor {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    
}
.end-end-bocor .prepartion a{
    color: #fff;
}
.end-end-bocor a{
    display: inline-block;
    padding: 15px;
    color: #adc7de;
}
.end-bocor{
    margin-left: 100px;
}
.end-bocor h1{
    color: #fff;
    text-decoration: none;
    
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

}
.digital{
    margin-top: 100px;
}
.digital h1{
    margin-top: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #d2e0ed;
    font-family: "Poppins", sans-serif;
}
.digital p{

    color: #fff;
    margin-bottom: 30px;
    font-size: 22px;
}
.overall-end{
    background: linear-gradient(180deg, #213b52 0%, #213c54 35%, #204564 100%);
}
.images{
    margin-right: 150px;
    margin-bottom: 20px;
}
.overall button{
    border-radius: 50px;
    height: 50px;
    width: 200px;
    color: #fff;
    background: #fdc134;
    border: 2px solid #fdc134;

}
.overall button:hover{
    background-color: #213b52;
}
.end-end-bocor button{
    border-radius: 50px;
    height: 40px;
    width: 100px;
    margin-top: 4px;
    border: 2px solid #fdc134;
    background: #213b52;
    color: #fff;

}
.end-end-bocor button:hover{
    background-color: #fdc134;
}
.end-end-bocor a:hover{
    color: #fff;
}
.git-webpage{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 1300px;

    
    
    box-sizing: border-box;
    
}
.git-webpage img{
    margin-top: 50px;
}
.git-webpage img:hover{
       transform: scale(1.3);
       transition: all 2s;
       
}
.webpage-git{
    height: 500px;
    width: 1300px;
    
}
.webpage{
    margin: auto;
    display: flex;
}
.name{
    height: 500px;
    width: 600px;
    

}
.name img{
    margin-top: 50px;
    margin-left: 50px;
}
.media-screen h1 {
    margin-left: 30px;
    font-weight: 700;
    font-size: 34px;
    color: #213b52;
    margin-top: 50px;
}
.media-screen p{
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
}
.voluptatem{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.dolor{
    height: 120px;
    width: 300px;
    /* text-align: center; */
    margin-top: 50px;
    margin-left:10px;
}
.dolor h1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway", sans-serif
}
.dolor p{
    margin-top: 10px;
    font-size: 15px;
    color: #848484;
    font-family: "Open Sans", sans-serif;
    margin-left: 50px;

    


}
.dolor h1 i{
    font-size: 48px;
    float: left;
    color: #fdc134;
    padding: 10px;
    margin-bottom: 10px;
}





